<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<link rel="stylesheet" href="../src/vistas/css/style.css">

		<style>
			.perfil {
				background-image: url("../src/vistas/imagenes/perfil.png");
			}
		</style>

	</head>


	<body>
		<div class="perfil">
			<div class="img"></div>
			<h3>{{nombre}}</h3>
			<h4>@{{nomusr}}</h4>
			<div class="amigos">
				
			</div>


		</div>
		<div class="principal">
			<div class="sub">
				<div class="container-publi">
					<div class="publi">
						<h1>FIND YOUR COMMUNITY ON BLAB</h1>
						<img class="imagenpubli" src="../src/vistas/imagenes/publi.png">
					</div>

				</div>

				<div class="gru">
					<div class="grupos"></div>
					<div class="grupos"></div>
				</div>

				<div class="gru">
					<div class="grupos"></div>
					<div class="grupos"></div>
				</div>
			</div>
		</div>


	</body>

</html>
