body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.formu {
  width: 90vh;
  height: 100vh;
  position: absolute;
}


.container-imagen{
  width: 115vh;
  height: 100vh;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Para asegurarte de que la imagen no se desborde del contenedor */
}

.imagen {
  width: 100%;
  height: 100vh;
  position: relative;
}

#fotologin {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
  object-position: center; /* Centra la imagen dentro del contenedor */
  max-width: 100%; /* Ajusta según sea necesario */
  position: absolute;
  top: 0;
  z-index: -1;
}


.logo {
  width: 616px;
  height: 574px;
  background-color: rgba(255, 255, 255, 0.19);
  text-align: center;
  border-radius: 20px;
  position: relative;
  top: 50%; /* Posiciona en la mitad del contenedor .imagen */
  left: 50%; /* Posiciona en la mitad del contenedor .imagen */
  transform: translate(-50%, -50%); /* Centra exactamente */
}

.logo img {
  max-width: 100%;
}

.redondo {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px; /* Ajusta según sea necesario */
}

.formu p {
  display: block; /* Cambia el comportamiento a bloque para que estén uno debajo del otro */
  margin-bottom: 4vh;
  color: rgba(0, 0, 0, 0.53);
}

.formu span:first-child {
  font-weight: bold; /* Estilo opcional para el elemento <span> dentro del título */
}

.texto {
  width: 70vh;
  height: auto;
  padding: 8vh 8vh 8vh 8vh;
  margin-top: 4vh;
}

form input {
  width: 260px;
  height: 30px;
  box-shadow: 1px 3px 2px 3px rgba(0, 0, 0, 0.397);
  border: none;
  border-left: 4px solid #123330;
  background-color: rgb(230, 230, 230);
}

form input:first-child {
  margin-top: 4vh;
}

#boton {
  width: 15px;
  margin-right: 10px;
  margin-top: 3px;
}

label {
  position: relative;
  margin-right: 10vh;
}

.input-group {
  display: flex;
  align-items: center;
  width: 370px;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#login {
  width: 150px;
  height: 45px;
  border: none;
  color: white;
  background-color: #123330;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#registro {
  width: 150px;
  height: 45px;
  border: none;
  color: black;
  background-color: white;
  border: 1.5px solid black;
  margin-left: 3vh;
  margin-bottom: 4vh;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#recuerda {
  color: rgba(0, 0, 0, 0.53);
}
